<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzm.blog.dao.TypeMapper">
    <resultMap id="BaseResultMap" type="com.xzm.blog.bean.Type">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="blog_num" property="blogNum"/>
        <result column="picture" jdbcType="VARCHAR" property="picture"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, picture
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_type
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_type
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.xzm.blog.bean.Type">
        insert into t_type (id, name, picture)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},#{picture,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.xzm.blog.bean.Type">
        insert into t_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="picture != null">
                picture,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="picture != null">
                #{picture,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xzm.blog.bean.Type">
        update t_type
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="picture != null">
                name = #{picture,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xzm.blog.bean.Type">
        update t_type
        set name = #{name,jdbcType=VARCHAR},picture = #{picture,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--List<Type> selectAll();-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_type
    </select>
    <!--List<Type> selectTypeTop(Integer size);-->
    <select id="selectTypeTop" resultMap="BaseResultMap">
        select t_type.id as id,name,count(*) as blog_num from t_blog,t_type
        where t_type.id=t_blog.type_id and published=true group by t_type.id order by blog_num desc limit #{size}
    </select>

    <!--Type selectTypeByName(String name);-->
    <select id="selectTypeByName" resultMap="BaseResultMap">
        select * from t_type where name= #{name}
    </select>

</mapper>